/*  common-style */
head, html, body, div, header, h1, h2, h3, h4, a, p, ul, li{
  margin:0;
  padding:0;
  color:black;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
html{
  font-size: 1.20vw;
  letter-spacing: 0.1em;
  text-shadow: 0 0.2em 0.1em rgba(0, 0, 0, 0.1);
}
body {
  margin: 0;
  line-height: 1.3;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
  line-height: 1;
  text-align: center;
}
i{
  vertical-align: middle;
  height: 30px;
}
ol, ul{
  list-style:none;
}
*{
  box-sizing: border-box;
}
.txt-xs{
  font-size: 0.65rem;
}
.txt-ss{
  font-size: 0.78rem;
}
.txt-s{
  font-size: 0.86rem;
}
.txt-m{
  font-size: 1rem;
}
.txt-l{
  font-size: 1.09rem;
}
.txt-ll{
  font-size: 1.30rem;
}
.txt-xl{
  font-size: 1.52rem;
}
.txt-2l{
  font-size: 1.74rem;
}
.txt-3l{
  font-size:2.17rem;
}
.txt-4l{
  font-size:2.61rem;
}
.txt-5l{
  font-size:3.04rem;
}
.txt-6l{
  font-size:4.35rem;
}
.txt-7l{
  font-size: 6.87rem;
}
.fam-a{
  font-family: "Toppan Bunkyu Midashi Mincho";
}
.fam-b{
  font-family: "Toppan Bunkyu Mincho";
}
.fam-c{
  font-family: "YuMincho";
}
.fam-d{
  font-family: "Toppan BunkyuMidashiMinStdN";
}
.bold{
  font-weight: bold;
}
.black{
  color:black;
}
.grey{
  color:#9E9E9E;
}
.white{
  color:#FFFFFF;
}

.bg-grey{
  background-color:#F8F8F8;
}

.bg-white{
  background-color: white;s
}
.bg-black{
  background-color:black;
}
.vertical{
  writing-mode:vertical-lr;
  transform: rotate( 180deg );  /* 2D(平面)で回転 */
}
.font-shadow-a{
  text-shadow: 0.15em 0.15em 0.1em rgba(0, 0, 0, 0.3);
}
.container {
  width: 100vw;
  height: 100%;
}
.img-column{
  width:80vw;
}
.btn{
  border:1px solid black;
  display: inline-block;
  z-index: 10;
  text-align: center;
  cursor:pointer;
}
.btn-readmore{
  width:8.15vw;
  height: 2.56vw;
  line-height: 2.56vw;
  text-align: center;
  font-size: 0.8vw;
}
.btn-booking, .btn-contact{
  width:11.9vw;
  height: 4.03vw;
  line-height: 4.03vw;
  text-align: center;
}
.heading{
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  left: 6.25vw;
  top: 7.29vw;
  z-index: 15;
}

/*以下で線を表示*/
.heading:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1.77vw;/*線の上下位置*/
  display: inline-block;
  width: 15.1vw;/*線の長さ*/
  height: 0.5px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: black;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}
.scription-wrapper{
  position: relative;
  width:39.6vw;
  height: 24.2vw;
  opacity:0.7;
  padding:4.11vw;
}
.scription-wrapper .english{
  margin-top: 3.59vw;
}
.scription-wrapper .btn-readmore{
  position: absolute;
  top:19.4vw;
  left:26.8vw;
}
.img-top{
  height: 55.76vw;
  width: 100vw;
}
.img-top-ip{
  display: none;
  height: 178.42vw;
  position: relative;
  top:0;
  width: 100vw;
}
.english br{
  display: none;
}
.close{
  display: none;
}
/*header*/
header{
  height: 56.2vw;
}
.header-wrapper{
  background-color:#000000;
  opacity:0.7;
}
.header-wrapper .container{

  top:0;
  z-index: 10;
  width:100%;
  height: 7.07vw;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.header-wrapper-left{
  margin-left: 2.5vw;
}
.header-wrapper-left .wrapper{
  display: flex;
  justify-content: center;
  align-items:flex-end;
  margin-bottom:5px;
}
.header-wrapper-left h1{
  margin-left:8px;
}
.header-wrapper-right{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3.9vw;
}
.header-wrapper-right li{
  color:#FFFFFF;
  margin-right: 3.18vw;
  display: inline-block;
}
.header-wrapper-right a{
  margin-bottom: 0.5vw;
  display:block;
}


header{
position:relative;
}
#slide{
  display: block;
}
#slide2{
  display: none;
}
.img-top, .img-top-ip{
position:absolute;
left:0;
top:0;
}
.menu-tab{
  background-color:#000000;
  opacity:0.7;
  z-index: 10;
  padding-bottom:5.25vw;
  padding-top:8vw;
  margin: 0 auto;
  display: none;

}
.menu-tab li{
  margin-bottom:2vw;
  height:5vw;
}

/*concept*/
.concept{
  position:relative;
  height: 67.76vw;
}
.heading-concept{
  position: absolute;
  top:8.54vw;
  left: 8.07vw;
  z-index: 10;
}
.txt-concept1{
  position:absolute;
  top: 15.16vw;
  left: 8.07vw;
  z-index: 10;
}
.txt-concept2{
  position:absolute;
  top: 22.66vw;
  left: 8.07vw;
  z-index: 10;
}
.txt-concept-english{
  position:absolute;
  top: 33.52vw;
  left: 8.07vw;
  z-index: 10;
}
.btn-concept{
  position:absolute;
  top: 42.20vw;
  left: 18.7vw;
  z-index: 10;
}

.owner{
  width:36.3vw;
  position:absolute;
  top:8.2vw;
  left:56.6vw;
  z-index: 10;
}
.owner2{
  width:36.3vw;
  position:absolute;
  top:37.1vw;
  left:56.6vw;
  z-index: 10;
}
.concept-left .btn-readmore{
  position:relative;
  left:10.7vw;
  top:6.56vw;
}
.box{
  position:absolute;
  top:15.3vw;
  left:23.1vw;
  width:59.8vw;
  height:36.5vw;
  opacity:0.7;
}


/*lodge*/
.lodge{
  position: relative;
  height: 73.55vw;
}
.vertical-heading-lodge{
  position: absolute;
  top:4.64vw;
  left: 6.09vw;
  opacity: 0.1;
}
.heading-lodge{
  position: relative;
}
/*underline*/
.heading-lodge:before {
  width: 15.1vw;/*線の長さ*/
}
.scription-wrapper-lodge{
  position: absolute;
  top:21.9vw;
  left:16.0vw;
  z-index: 10;
}
.img-bedroom{
  width:46.8vw;
  position: absolute;
  top:14.6vw;
  left:49.3vw;
}
.img-scenery{
  position: absolute;
  top:50.3vw;
  left:16.0vw;
}

/*food*/
.food{
  position: relative;
  height: 73.2vw;
}
.vertical-heading-food{
  position: absolute;
  top:4.27vw;
  left: 8.18vw;
  opacity: 0.1;
}
.heading-food{
  position: relative;
}
/*underline*/
.heading-food:before {
  width: 19.7vw;/*線の長さ*/
}
.scription-wrapper-food{
  position: absolute;
  top:13.5vw;
  left:54.2vw;
  z-index: 10;
}
.img-meal{
  width:42.2vw;
  position: absolute;
  top:20.9vw;
  left:16.0vw;
}
.img-meal2{
  position: absolute;
  top:50.3vw;
  left:16.0vw;
}

/*program*/
.program{
  position: relative;
  height: 73.2vw;
}
.vertical-heading-program{
  position: absolute;
  top:4.38vw;
  left: 7.34vw;
  opacity: 0.1;
}
.heading-program{
  position: relative;
}
.heading-program br{
  display: none;
}
/*underline*/
.heading-program:before {
  width: 24.8vw;/*線の長さ*/
}
.scription-wrapper-program{
  position: absolute;
  top:21.9vw;
  left:16.0vw;
  z-index: 10;
}
.img-interactiveprogram{
  width:46.8vw;
  position: absolute;
  top:14.6vw;
  left:49.3vw;
}
.img-interactiveprogram2{
  position: absolute;
  top:50.3vw;
  left:16.0vw;
}

/*message*/
.message{
  height: 40vw;
  padding:8vw 0 8vw 0;
  text-align: center;
}
.scription-message{
  line-height: 2.3;
}
.scription-message-2{
  margin:4.38vw 0;
}

/*ask*/
.ask{
  height: 27.7vw;
}
.ask .container{
  display: flex;
  justify-content: center;
}
.ask-wrapper{
  width:35.3vw;
  height: 20.6vw;
  position:relative;
  margin:0 4.32vw;
}
.ask-ip-wrapper{
  display: none;
}
.heading-ask-wrapper{
  position: absolute;
  top:1.82vw;
  left:-2.55vw;
}
.txt-ask-wrapper-japanese{
  position: absolute;
  top:5.94vw;
  left:2.97vw;
}
.txt-ask-wrapper-english{
  position: absolute;
  top:10.72vw;
  left:2.97vw;
}
.btn-contact, .btn-booking{
  position: absolute;
  top:14.53vw;
  left:24.7vw;
}

/*footer*/
footer{
  height: 20.91vw;
}
.footer-top{
  height: 17.32vw;
  position:relative;
}
.footer-top-ip{
  display: none;
}
.img-logo-white{
  width: 21.8vw;
  height: 20.8vw;
  position: absolute;
  left: 2.18vw;
  top:-2.14vw;
}
.heading-contents{
  position: relative;
  left: 66.8vw;
  top:2.55vw;
}
/*underline*/
.heading-contents:before {
  width: 3.7vw;/*線の長さ*/
  background-color: white;/*線の色*/
  bottom: -0.5vw;/*線の上下位置*/
}
.heading-contents{
  position: absolute;
  left: 26.9vw;
  top:2.55vw;
}
.txt-contents{
  position: absolute;
  left: 27.5vw;
  top:5.73vw;
}
.heading-contactInformation{
  position: relative;
  left: 66.8vw;
  top:2.55vw;
}
/*underline*/
.heading-contactInformation:before {
  width: 5.57vw;/*線の長さ*/
  background-color: white;/*線の色*/
  bottom: -0.5vw;/*線の上下位置*/
}
.txt-adress{
  position: absolute;
  left: 69vw;
  top:5.73vw;
}
.logo-facebook{
  position: absolute;
  left: 66.8vw;
  top:13.1vw;
  font-size:3.18vw;
  vertical-align: middle;
}
.logo-instagram{
  position: absolute;
  left: 70.4vw;
  top:13.1vw;
  font-size:3.18vw;
  vertical-align: middle;
}

.logo-facebook i{
  display: table-cell;
}
.logo-instagram i{
display: table-cell;
}
.footer-bottom{
  height: 3.59vw;
  opacity: 0.8;
  padding-left: 2.60vw;
  padding-top:1vw;

}
.copyright{
  display: inline-block;
}
.copyright-ip{
  display: none;
}

/*humburger menu*/
.global-navi{
    position: absolute;
    top: 7.07vw;;
    right: -150vw;
    width: 100vw;
    height:48.69vw;
    padding-top: 2vw;
    background:#000000;
    display: none;
    opacity: 0.7;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    z-index: 20;
    transition:0.2s;
}
.global-navi.close{

    right: -150vw;
    transition:0.2s;
}
.global-navi.open {
    right: 0vw;
    transition:0.2s;
}
.wrapper nav ul {
    position: relative;
}
.wrapper nav ul li {
    display:block;
    margin-bottom: 3.54vw;
    font-size: 2vw;
}
.wrapper nav ul li a {
  display: block;
  line-height: 1.2;
}
.btn-global-navi-english{
  font-size: 1.95vw;
}
.btn-global-navi-japanese{
  font-size: 1.69vw;
}
.header-sns{
  position: absolute;
  top:40.8vw;
  left:75.12vw ;
}
.header-sns a{
margin: 0 2.93vw;
font-size: 3.65vw
}

.btn-gnavi {
    display: none;
    position: relative;
    margin-top:0;
    margin-right: 3.45vw;
    width: 4.03vw;
    height: 3.39vw;
    z-index: 3;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
}
.btn-gnavi span {
    position: absolute;
    width: 4.03vw;
    height: 0.1vw;
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
 .btn-gnavi span:nth-child(1) {
    top: 0;
}
 .btn-gnavi span:nth-child(2) {
    top: 1.69vw;
}
 .btn-gnavi span:nth-child(3) {
    top: 3.39vw;
}
.btn-gnavi.open span:nth-child(1) {
   top: 1.60vw;
   transform: rotate(45deg);
}
.btn-gnavi.open span:nth-child(2) {
   top: 1.69vw;
   transform: rotate(-45deg);
}
.btn-gnavi.open span:nth-child(3) {
   display: none;
}
 .btn-gnavi.open span {
    width: 4.03vw;
}
.wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
}
.wrapper .contents section:nth-child(odd) p {
    left: 10%
}
.wrapper .contents section:nth-child(even) p {
    right: 10%
}
